		</div> <!-- content -->

		<div id="navigation">
			<ul>
				<li id="navi_main"><a href="/">Main</a></li>
				<li><a href="/edit/<%= page_file %>">Edit This Page</a></li>
			</ul>
		</div>

	</div> <!-- container -->

</body>
</html>
